* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  color: #1f2937;
  text-decoration: none;
  margin: 0;
  background-image: url(./image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: #ffe5b4;
  opacity: 0.98;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  text-decoration: none;
  flex-wrap: wrap;
}

html {
  scroll-behavior: smooth;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
  text-decoration: none;
  font-size: 1.125rem;
  color: #e5e7eb;
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 1.125rem;
  max-width: 1440px;
  margin: 0 auto;
  color: #1f2937;
}
@media (max-width: 768px) {
  .main {
    font-size: 0.8rem;
  }
  .main #code code {
    font-size: 8px;
  }
  .header a {
    font-size: 0.8rem;
  }
}
.section {
  width: 40%;
  min-width: 300px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1f2937;
}
.name-foto {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.name-foto .photo img {
  width: 200px;
  height: 100%;
}
@media (max-width: 425px) {
  .name-foto .photo img {
    width: 120px;
  }
  .name-foto .name h1 {
    font-size: 1em;
  }
  .name-foto .name h3 {
    font-size: 0.5em;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1f2937;
}
footer a,
.p {
  text-decoration: none;
  font-size: 1.125rem;
  color: #e5e7eb;
}
.section a,
p {
  text-decoration: none;
  color: #1f2937;
}
header {
  background-color: #1f2937;
}
.photo {
  padding: 10px;
  background-color: #1f2937;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.nav-link:hover {
  background-color: darkorange;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name h1 {
  text-transform: uppercase;
}
.code-example {
  font-size: 0.8rem;
}
